* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-size: 16px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

input,
button {
  border: 0;
  outline: none;
  background: none;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  width: 92%;
  margin: 0 auto;
  display: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
}